</div>
      </div> <!-- end row -->
    </div> <!-- end wrapper -->

{{ site.time | date_to_string }}

  <script src="{{'/node_modules/jquery/dist/jquery.min.js'}}"></script>
  <script src="{{'/assets/js/responsiveslides.min.js'}}"></script>
  <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js'}}"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js'}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.js" integrity="sha256-UIybuWmmRkFdYToN0IPzeEUzMe4RzG0vI3Ot4d4S7b8=" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="{{'/assets/js/script.js'}}"></script>


  </body>
</html>
