
    </div> <!-- end wrapper -->


  <script src="{{'/node_modules/jquery/dist/jquery.min.js'}}"></script>
  <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js'}}"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js'}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.js" integrity="sha256-UIybuWmmRkFdYToN0IPzeEUzMe4RzG0vI3Ot4d4S7b8=" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
  <script src="{{'/assets/js/script.js'}}"></script>


  </body>
</html>
