
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" }}">
    <link rel="stylesheet" href="{{ "/node_modules/bootstrap/dist/css/bootstrap.min.css" }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper" id="app">
      <div class="social">
       <i class="fa fa-instagram" aria-hidden="true"></i>
       <i class="fa fa-tumblr-square" aria-hidden="true"></i>
       <i class="fa fa-rss" aria-hidden="true"></i>
     </div>
      <div class="row">

       <!-- Sidebar -->
       <div class="col-sm-12 col-md-3 col-lg-2" id="left">
         <nav id="sidebar">
           <span id="sidebarCollapse"  aria-hidden="true"
           data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
             <button class="hamburger hamburger--squeeze" type="button">
               <span class="hamburger-box">
                 <span class="hamburger-inner"></span>
               </span>
             </button>
           </span>
             <span id="site-title"><a href="/home/">{{site.title}}</a></span>
           <!-- Sidebar Links -->
           <ul class="collapse list-unstyled components" id="collapseExample">
             <li><a href="/faces/">faces</a></li>
             <li><a href="/maine/">maine</a></li>
             <li><a href="/eip/">everything is permitted</a></li>
             <br />
             <li><a href="/comissioned/">comissioned</a></li>
             <br />
             <li><a href="/about/">about</a></li>
             <li><a href="/contact/">contact</a></li>
             <li><a href="/home/">home</a></li>
           </ul>
         </nav>
       </div>
       <!-- end sidebar -->

        <div class="content container-fluid">


