---
---
@import "_variables";

$hamburger-layer-width: 20px;
$hamburger-layer-spacing: 3px;
$hamburger-padding-x: 3px;
$hamburger-padding-y: 3px;

@import "hamburgers/hamburgers.scss";

html {
  overflow-x: hidden;
}
body .wrapper {
  font-family: $font-body;
  margin: 0 auto;
  padding: 10px;
}
.caption {
  font-size: 15px;
  font-style: italic;
  padding: 0 20px;
}
#collapseExample {
  background-color: white;
  padding: 10px;
}
.container-fluid {
  padding: 50px 0 0 0;
}
.content {
  padding: 25px;
}
i {
  padding: 2px;
}
#left {
  padding: 0;
}
.row-fluid {
  text-align: center;
}
#sidebar{
  padding: 0 0 0 5px;
  overflow: auto;
  min-width: 230px;
  position: absolute;
}
#site-title {
  font-family: $font-header;
  font-size: 20px;
  padding: none;
  letter-spacing: 1px;
  a {
    color: black;
  }
  a:hover {
  color: pink;
  text-decoration: none;
  }
}
.social {
  float: right;
  padding: 5px;
  list-style-type: none;
}
span {
  cursor: pointer;
}
ul {
  a {
    padding-left: 30px;
    color: black;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
}
ul.social {
  li {
    display: inline;
  }
}

//featherlight.js lightbox styling//////////////////////////
.featherlight-next span {
  text-shadow: none;
}
.featherlight-next:hover {
  background: none;
}
.featherlight-previous span {
  text-shadow: none;
}
.featherlight-previous:hover {
  background: none;
}
.featherlight .featherlight-content {
  max-height: 99%;
  overflow: visible;
  padding: 10px 10px 0;
  border-bottom: 30px solid transparent;
}
.featherlight .featherlight-close-icon {
  background: transparent;
  color: white;
  padding: 10px 30px;
  width: 30px;
}

// start Masonry.js styling///////////////////////
.grid {
margin-left: 255px;
}
.grid-item {
  float: left;
  position: relative;
  line-height: 1em;
  margin-bottom: 10px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer { width: 20%; }
.grid-item { width: 20%; }

@media screen and (max-width: 1224px) {
  .grid-sizer { width: 33.33%; }
  .grid-item { width: 33.33%; }
}

@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
}

@media screen and (max-width: 480px) {
  .grid { margin-left: 0; }
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
}
.home-image {
  padding: 50px 0 0 0;
}
.image{
    max-width: 100%;
    margin: 0;
    display: block;
}
.image:after {
    clear:both;
}

// end Masonry.js styling

/* Customize container */
@media (max-width: 768px) {
  .social {
    float: right;
  }

}


