---
---
@import "_variables";

$hamburger-layer-width: 20px;
$hamburger-layer-spacing: 3px;
$hamburger-padding-x: 3px;
$hamburger-padding-y: 3px;

@import "hamburgers/hamburgers.scss";

html {
  overflow-x: hidden;
}
body .wrapper {
  font-family: $font-body;
  margin: 0 auto;
  padding: 10px;
}
i {
  padding: 2px;
}
#site-title {
  font-family: $font-header;
  font-size: 20px;
  padding: none;
  a {
    color: black;
  }
  a:hover {
  color: pink;
  text-decoration: none;
  }
}
ul {
  a {
    padding-left: 30px;
    color: black;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
}
span {
  cursor: pointer;
}
.social {
  float: right;
}
#sidebar{
  padding: 2px;
  overflow: auto;
  min-width: 200px;
}

// start Masonry.js styling
.grid {
margin-left: 225px;
}
.grid-item {
  float: left;
  position: relative;
  line-height: 1em;
  margin-bottom: 10px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer { width: 20%; }
.grid-item { width: 20%; }

@media screen and (max-width: 1224px) {
  .grid-sizer { width: 33.33%; }
  .grid-item { width: 33.33%; }
}

@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
}

@media screen and (max-width: 480px) {
  .grid { margin-left: 0; }
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
}
.image{
    max-width: 100%;
    margin: 0;
    display: block;
}
.image:after {
    clear:both;
}
.content {
  padding: 25px;
}
// end Masonry.js styling

/* Customize container */
@media (max-width: 768px) {
  .social {
    float: right;
  }
  body.wrapper {
    margin: 0 auto;
    padding: 5px;
  }
}


